In [1]:
import pandas as pd
import numpy as np

#每次可以输出多个变量
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
def bbb(a,b):
    c = {}
    for i,j in eval(a).items():
        c[i.lower()] = j

    if b.lower() in c:
        if float(c[b.lower()])>0.1:
            return 1
        else:
            return 0
    else:
        return 0

In [3]:
train_data1 = pd.read_table('./data/oppo_round1_train_20180926.txt',sep='\t',names=['prefix','query_prediction','title','tag','label'],header=None,encoding='utf-8').astype(str)
train_data2 = pd.read_table('./data/new/oppo_round1_train_20180929.txt',sep='\t',names=['prefix','query_prediction','title','tag','label'],header=None,encoding='utf-8').astype(str)
train_data = pd.concat([train_data1,train_data2], axis=0)
val_data = pd.read_table('./data/new/oppo_round1_vali_20180929.txt',sep='\t',names=['prefix','query_prediction','title','tag','label'],header=None,encoding='utf-8').astype(str)
test_data = pd.read_table('./data/new/oppo_round1_test_B_20181106.txt',sep='\t',names=['prefix','query_prediction','title','tag','label'],header=None,encoding='utf-8').astype(str)

train_data = pd.concat([train_data,val_data], axis=0)
train_data['label'] = train_data['label'].apply(lambda x:int(x))
val_data['label'] = val_data['label'].apply(lambda x:int(x))
train_data['prefix_num'] = train_data['prefix'].apply(lambda x:len(x))
train_data['title_num'] = train_data['title'].apply(lambda x:len(x))
test_data['prefix_num'] = test_data['prefix'].apply(lambda x:len(x))
test_data['title_num'] = test_data['title'].apply(lambda x:len(x))

test_data['in_query_big'] = test_data.apply(lambda x:bbb(x['query_prediction'],x['title']),axis=1)

In [4]:
temp1 = train_data.groupby(['prefix','title','tag'],as_index=False)['label'].agg({'click1':'sum','count1':'count','ctr1':'mean'})
temp2 = train_data.groupby(['prefix','title'],as_index=False)['label'].agg({'click2':'sum','count2':'count','ctr2':'mean'})
temp3 = train_data.groupby(['prefix','tag'],as_index=False)['label'].agg({'click3':'sum','count3':'count','ctr3':'mean'})
temp4 = train_data.groupby(['title','tag'],as_index=False)['label'].agg({'click4':'sum','count4':'count','ctr4':'mean'})
temp5 = train_data.groupby('prefix',as_index=False)['label'].agg({'click5':'sum','count5':'count','ctr5':'mean'})
temp6 = train_data.groupby('title',as_index=False)['label'].agg({'click6':'sum','count6':'count','ctr6':'mean'})
temp7 = train_data.groupby('tag',as_index=False)['label'].agg({'click7':'sum','count7':'count','ctr7':'mean'})
temp8 = train_data.groupby(['prefix_num','title_num','tag'],as_index=False)['label'].agg({'click8':'sum','count8':'count','ctr8':'mean'})

a = pd.merge(test_data,temp1,on=['prefix','title','tag'],how='left')
b = pd.merge(test_data,temp2,on=['prefix','title'],how='left')
c = pd.merge(test_data,temp3,on=['prefix','tag'],how='left')
d = pd.merge(test_data,temp4,on=['title','tag'],how='left')
e = pd.merge(test_data,temp5,on='prefix',how='left')
f = pd.merge(test_data,temp6,on='title',how='left')
g = pd.merge(test_data,temp7,on='tag',how='left')
h = pd.merge(test_data,temp8,on=['prefix_num','title_num','tag'],how='left')

a['ctr2'] = b['ctr2']
a['ctr3'] = c['ctr3']
a['ctr4'] = d['ctr4']
a['ctr5'] = e['ctr5']
a['ctr6'] = f['ctr6']
a['ctr7'] = g['ctr7']
a['ctr8'] = h['ctr8']

a['count2'] = b['count2']
a['count3'] = c['count3']
a['count4'] = d['count4']
a['count5'] = e['count5']
a['count6'] = f['count6']
a['count7'] = g['count7']

a = a.fillna(0)
a['label2'] = 0

num1 = np.where((a['ctr1']>0.4),1,0)
num4 = np.where((a['ctr1']<=0.4)&(a['ctr1']>=0.2)&(a['ctr4']>0.55),1,0)
num7 = np.where((a['count1']==0)&(a['count4']==0)&(a['in_query_big']==0)&(a['ctr8']>0.5),1,0)
num8 = np.where((a['count1']==0)&(a['count4']==0)&(a['in_query_big']==1),1,0)
num9 = np.where((a['ctr4']>0.4)&(a['count1']==0),1,0)
num10 = np.where((a['count1']==0)&(a['ctr4']<=0.4)&(a['ctr4']>=0.2)&(a['in_query_big']==1),1,0)

numall = np.array(num1)+np.array(num4)+np.array(num8)+np.array(num7)+np.array(num9)+np.array(num10)

In [5]:
a['label3'] = numall
a.shape
a['label3'].to_csv('./result/baseline_b.csv',index=False)

(250000, 26)

In [6]:
result = pd.read_csv('./result/result_testB_result.csv', header=None)
result.shape

(250000, 1)

In [7]:
a['pred'] = result

In [8]:
a['is_equal'] = a.apply(lambda x: 1 if x.label3 == x.pred else 0, axis=1)

In [9]:
a.is_equal.sum()

205064

In [10]:
a.head()

,prefix,query_prediction,title,tag,label,prefix_num,title_num,in_query_big,click1,count1,...,count2,count3,count4,count5,count6,count7,label2,label3,pred,is_equal
0,新生儿游泳,"{""新生儿游泳去黄疸吗"": ""0.013"", ""新生儿游泳时间"": ""0.012"", ""新生...",新生儿游泳到底好不好呀？,健康,nan,5,12,0,1.0,1.0,...,1.0,1.0,1.0,3.0,1.0,268099,0,1,0,0
1,吴奇隆,"{""吴奇隆李小冉"": ""0.011"", ""吴奇隆电视剧"": ""0.021"", ""吴奇隆的综艺...",吴奇隆刘诗诗公开恋情 马苏怎么办呢,影视,nan,3,17,0,5.0,78.0,...,78.0,78.0,133.0,321.0,133.0,71112,0,0,0,1
2,炎,"{""炎琥宁"": ""0.013"", ""炎武战神"": ""0.023"", ""炎帝"": ""0.020...",炎亚纶,百科,nan,1,3,0,8.0,8.0,...,8.0,8.0,8.0,20.0,8.0,1474283,0,1,1,1
3,知乎,"{""知乎2018必读书单"": ""0.004"", ""知乎翎春君"": ""0.007"", ""知乎暗...",知乎,应用,nan,2,2,0,249.0,495.0,...,982.0,495.0,1511.0,1502.0,2171.0,683549,0,1,1,1
4,快递查,"{""快递查询询"": ""0.001"", ""快递查单号"": ""0.001"", ""快递查询自动识别...",快递查询,应用,nan,3,4,1,68.0,82.0,...,82.0,82.0,362.0,253.0,362.0,683549,0,1,1,1

## 特征

In [11]:
df3 = pd.read_csv('./feature/featurefull_testB.csv', encoding='gbk')

feature1 = pd.read_csv('./feature/featurefull_dis1_testB.csv')
feature2 = pd.read_csv('./feature/featurefull_dis2_testB.csv')

df3 = pd.concat([df3, feature1, feature2], axis=1)
df3.shape

(250000, 104)

In [12]:
df = pd.concat([a, df3], axis=1)

In [13]:
df.shape

(250000, 132)

In [14]:
df3[[i for i in df3.columns if 'distance' in i]].head()

,title_max_distance_maxpool,title_first_distance_maxpool,title_max_cos_distance_maxpool,title_first_cos_distance_maxpool,title_str_distance_maxpool,title_origin_str_distance_maxpool,title_str_cos_distance_maxpool,title_origin_str_cos_distance_maxpool,title_query_dict_distance,title_query_dict_cos_distance,...,title_query_str_distance,title_query_str_cos_distance,title_max_distance,title_first_distance,title_max_cos_distance,title_first_cos_distance,title_str_distance,title_origin_str_distance,title_str_cos_distance,title_origin_str_cos_distance
0,0.905071,0.676132,1.349066e-01,0.074902,1.126576,1.126576,0.111900,0.111900,3.253811,0.260470,...,2.839202,0.243608,2.563005,2.723751,0.185665,0.218950,2.805068,2.805068,0.203234,0.203234
1,0.767536,1.815259,1.218726e-01,0.213779,0.870760,0.870760,0.114477,0.114477,3.260757,0.170760,...,2.394865,0.196116,2.446395,3.537574,0.202474,0.357697,3.106488,3.106488,0.202159,0.202159
2,0.000000,2.824372,0.000000e+00,0.540281,2.829457,2.829457,0.356906,0.356906,4.010782,0.200286,...,3.972606,0.495217,4.428393,4.887666,0.606649,0.702936,3.999783,3.999783,0.499355,0.499355
3,1.388712,1.379703,2.455698e-01,0.254382,1.863668,1.863668,0.327346,0.327346,4.411204,0.082787,...,2.883861,0.202170,2.822812,2.822812,0.191541,0.191541,2.008406,2.008406,0.092278,0.092278
4,0.000000,0.930447,4.440892e-16,0.053961,2.452586,2.452586,0.170481,0.170481,2.611621,0.026567,...,3.265587,0.276505,2.392440,2.392440,0.120153,0.120153,1.995977,1.995977,0.088244,0.088244

In [15]:
df[df.is_equal == 0][[i for i in df.columns if 'distance' in i]].head()

,title_max_distance_maxpool,title_first_distance_maxpool,title_max_cos_distance_maxpool,title_first_cos_distance_maxpool,title_str_distance_maxpool,title_origin_str_distance_maxpool,title_str_cos_distance_maxpool,title_origin_str_cos_distance_maxpool,title_query_dict_distance,title_query_dict_cos_distance,...,title_query_str_distance,title_query_str_cos_distance,title_max_distance,title_first_distance,title_max_cos_distance,title_first_cos_distance,title_str_distance,title_origin_str_distance,title_str_cos_distance,title_origin_str_cos_distance
0,0.905071,0.676132,0.134907,0.074902,1.126576,1.126576,0.111900,0.111900,3.253811,0.260470,...,2.839202,0.243608,2.563005,2.723751,1.856648e-01,0.218950,2.805068,2.805068,0.203234,0.203234
11,1.766726,1.660834,0.219857,0.179482,2.422782,2.422782,0.183381,0.183381,4.048393,0.224800,...,3.556213,0.257301,4.100356,4.100356,3.371395e-01,0.337140,3.800643,3.800643,0.214435,0.214435
12,1.071904,0.792930,0.143545,0.060310,1.643434,1.643434,0.184091,0.184091,2.944234,0.085730,...,2.220254,0.157986,2.569170,2.471685,2.193557e-01,0.201857,1.552429,1.552429,0.073815,0.073815
14,0.000000,1.025008,0.000000,0.101506,2.079283,2.079283,0.232233,0.232233,2.668621,0.022176,...,3.545001,0.415064,0.000000,1.899261,2.220446e-16,0.111368,1.415711,1.415711,0.052241,0.052241
21,1.875101,1.873195,0.236768,0.235744,2.680995,2.680995,0.330978,0.330978,3.269632,0.255270,...,3.483648,0.411813,2.809299,2.809299,2.584060e-01,0.258406,2.857868,2.857868,0.250990,0.250990

In [16]:
dis_cols = [i for i in df.columns if 'distance' in i and 'cos' not in i]
sim_cols = [i for i in df.columns if 'cos' in i]

In [17]:
df['distance_sum'] = df.apply(lambda x: sum([x[i] for i in dis_cols]), axis=1)
df['sim_sum'] = df.apply(lambda x: sum([x[i] for i in sim_cols]), axis=1)

In [18]:
df[(df.is_equal == 1) & (df.pred == 1)]['distance_sum'].mean()
df[(df.is_equal == 1) & (df.pred == 1)]['sim_sum'].mean()

25.416252448127487

2.185430275432723

In [19]:
df['result'] = -1

In [20]:
df.result.value_counts()

-1    250000
Name: result, dtype: int64

In [21]:
df['result'] = df.apply(lambda x: x.pred if x.is_equal == 1 else -1, axis=1)

In [22]:
df.result.value_counts()

 0    126488
 1     78576
-1     44936
Name: result, dtype: int64

In [23]:
df['result'] = df.apply(lambda x: 1 if x.is_equal == 0 and x.distance_sum >= 25.4 and x.sim_sum <= 2.2 else x.result, axis=1)

In [31]:
df['result'] = df.apply(lambda x: 1 if x.is_equal == 0 and x.distance_sum >= 22.5 and x.sim_sum <= 2.8 else x.result, axis=1)

In [32]:
df.result.value_counts()

 0    126488
 1    100099
-1     23413
Name: result, dtype: int64

In [33]:
df['result'] = df.apply(lambda x: 0 if x.result == -1 else x.result, axis=1)

In [34]:
df.result.value_counts()

0    149901
1    100099
Name: result, dtype: int64

In [35]:
by_col = ['result', 'label3', 'pred', 'is_equal', 'distance_sum', 'sim_sum']

In [36]:
df.result.sum()
df[by_col].head()

100099

   result  label3  pred  is_equal  distance_sum   sim_sum
0       1       1     0         0     24.477256  2.092606
1       0       0     0         1     25.821839  2.247696
2       1       1     1         1     38.676026  4.922591
3       1       1     1         1     23.453253  2.007239
4       1       1     1         1     23.312174  1.316312

In [37]:
df.result.to_csv('./result/ffm_resultb.csv', index=None, header=None)